@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	section {
		@apply p-6 flex flex-col gap-6 2xl:w-2/5 xl:w-2/3 w-full;
	}

	section > h5 {
		@apply text-center text-3xl font-bold text-green-800;
	}

	section article h6 {
		@apply text-xl underline;
	}

	.image-container {
		@apply p-4 flex flex-col gap-4 justify-center items-center opacity-80;
	}

	.image-container:hover {
		@apply opacity-100;
	}

	.image-container span {
		@apply text-xl font-bold;
	}

	.image-container img {
		@apply aspect-square object-contain;
	}

	.hover-tilt {
		@apply ease-in-out duration-200;
	}

	.hover-tilt:hover {
		transform: rotate(5deg) scale(1.1);
	}
}